<div id="<%= dom_id guest %>">
  <div>
    <p>
      <strong>Name</strong>
      <%= guest.full_name %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= number_to_phone(guest.phone) %>
    </p>

    <p>
      <strong>Plus ones:</strong>
      <%= guest.plus_ones_count %>
    </p>

    <div class="flex flex-row gap-2">
      <% if action_name != "show" %>
        <%= link_to "Show", admin_guest_path(guest), class: "text-sky-600 hover:cursor-pointer" %>
      <% end %>
      <%= link_to "Edit", edit_admin_guest_path(guest), class: "text-sky-600 hover:cursor-pointer" %>
      <%= button_to "Destroy", [:admin, guest], method: :delete, class: "text-red-700 hover:cursor-pointer" %>
    </div>

  </div>
</div>
