<div id="<%= dom_id guest %>">
  <div>
    <p>
      <strong>Name</strong>
      <%= guest.full_name %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= number_to_phone(guest.phone) %>
    </p>

    <p>
      <strong>Main:</strong>
      <%= "✅" if guest.main? %>
    </p>

    <p>
      <strong>Available Plus ones:</strong>
      <%= guest.available_plus_ones %>
    </p>

    <p>
      <strong>Confirmed Plus ones:</strong>
      <%= guest.confirmed_plus_ones %>
    </p>

    <% if guest.main? %>
    <p>
      <strong>Companions:</strong>
      <ul class="list-disc ml-2 min-h-8">
        <% guest.companion_guests.each do |companion| %>
          <li class="ml-4 font-semibold" data-companion-list-target="companion"><%= companion.full_name %></li>
        <% end %>
      </ul>
    </p>
    <% end %>

    <div class="flex flex-row gap-2">
      <% if action_name != "show" %>
        <%= link_to "Show", admin_guest_path(guest), class: "text-blue-600 hover:cursor-pointer" %>
      <% end %>
      <%= link_to "Edit", edit_admin_guest_path(guest), class: "text-blue-600 hover:cursor-pointer" %>
      <%= button_to "Destroy", [:admin, guest], method: :delete, class: "text-red-700 hover:cursor-pointer" %>
    </div>

  </div>
</div>
