<h1>Guests</h1>
<%= link_to "New guest", new_admin_guest_path %>

<div id="guests">
  <% @guests.each do |guest| %>
    <%= render guest %>
    <p>
      <%= link_to "Show this guest", [:admin, guest] %>
    </p>
  <% end %>
</div>

<%== pagy_nav(@pagy) %>
<%== pagy_info(@pagy) %>
