<h1 class="text-3xl font-bold py-4">Devices & Sessions</h1>
<div>
  <%= link_to "Back", admin_path %>
</div>

<div id="sessions">
  <% @sessions.each do |session| %>
    <div id="<%= dom_id session %>">
      <p>
        <strong>User Agent:</strong>
        <%= session.user_agent %>
      </p>

      <p>
        <strong>Ip Address:</strong>
        <%= session.ip_address %>
      </p>

      <p>
        <strong>Created at:</strong>
        <%= session.created_at %>
      </p>

    </div>
    <p>
      <%= button_to "Log out", admin_session_path(session), method: :delete, class: "bg-red-500 hover:bg-red-700 hover:cursor-pointer text-white font-bold py-2 px-4 rounded" %>
    </p>
  <% end %>
</div>
