<div class="flex flex-col min-h-screen text-center">
  <div class="px-6 mt-8 mb-6">
    <p class="text-6xl font-serif font-extrabold capitalize">
      <%= current_guest&.first_name %>
    </p>
  </div>
  <!-- Welcome message -->
  <div class="px-6 mb-4 font-sans text-lg">
    Estamos muy emocionados de contar contigo en este día tan especial.
  </div>

  <!-- Confirmation status -->
  <div class="px-6 mb-4 font-sans text-lg">
    <% if current_guest.confirmed? %>
      Tu invitación está <b>confirmada <i><%= t("tickets", count: current_guest.confirmed_plus_ones) %></i></b>.
      <br />
      En caso de que necesites hacer algún cambio, por favor contáctanos. De cualquier manera, nuestra wedding planner se pondrá en contacto contigo para confirmar los detalles.
    <% else %>
      Tu invitación es <b><%= t("tickets", count: total_plus_ones(current_guest)) %></b>.
      <br />
      <%= companion_names(current_guest) %>
    <% end %>
  </div>

  <div class="px-6 my-6">
    <div class="flex justify-center">
      <%= image_tag "divider-branch.png", class: "h-12 md:h-16" %>
    </div>
  </div>

  <!-- Information message -->
  <div class="px-6 mb-4">
    <p class="font-sans text-lg tracking-wide">
      Aquí encontrarás toda la información necesaria para que puedas disfrutar de nuestra boda.
    </p>
  </div>

  <!-- Event date and calendar link -->
  <div class="px-6 my-4">
    <p class="mt-2 mb-4 text-3xl font-semibold font-serif">Fecha</p>
    <p class="font-sans text-lg">Sábado 27 de julio 2024, 4:00 PM</p>
  </div>

  <!-- Venue information -->
  <div class="px-6 my-4">
    <p class="mt-2 mb-4 text-3xl font-semibold font-serif">Venue</p>

    <p class="font-sans text-lg">Jardín Fuentes 22, Pedregal de las Fuentes, Morelos, México</p>
  </div>

  <!-- Embedded map -->
  <div class="mt-6 w-full">
    <iframe
         src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3775.023491874021!2d-99.1666649241962!3d18.886038982279942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce75c1118eea7d%3A0x48e0c6fa5b7cbc8!2sJard%C3%ADn%20Fuentes%2022!5e0!3m2!1sen!2smx!4v1707969671071!5m2!1sen!2smx"
      width="100%"
      height="450px"
      style="border:0;"
      allowfullscreen
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>

  <!-- Dress code -->
  <div class="px-6 my-4">
    <p class="mt-2 mb-4 text-3xl font-semibold font-serif">Código de vestimenta</p>

    <p class="font-sans text-lg">Cocktail. Fiesta en jardín.</p>
  </div>

  <!-- Gifts section -->
  <div class="px-6 mb-4">
    <p class="mt-2 mb-4 text-3xl font-semibold font-serif">Regalos</p>

    <p class="font-sans text-lg">
      Su presencia es nuestro mejor regalo ❤️.
      <br />
      Si está en sus posibilidades, realicen sus presentes de forma monetaria via tranferencia o en los sobres disponibles en el evento.
    </p>
  </div>

  <!-- FAQ section -->
  <div class="px-6 mt-6 pb-20">
    <p class="mt-2 mb-4 text-3xl font-semibold font-serif">¿Aún tienes dudas?</p>

    <%= link_to(faq_path, target: "_blank", class: "text-emerald-950 text-lg hover:cursor-pointer hover:text-emerald-500 pl-1 sm:max-w-prose inline underline") do %>
      Consulta la sección de preguntas frecuentes
    <% end %>
  </div>

  <!-- RSVP button for unconfirmed guests -->
  <% if current_guest.confirmed? %>
    <%= link_to(calendar_path, class: "fixed bottom-0 sm:bottom-5 primary-button w-full font-bold uppercase text-base") do %>
      <i class="fa-solid fa-download mr-1"></i> Agrega al tu calendario
    <% end %>
  <% else %>
    <%= link_to("Confirmar asistencia", new_rsvp_path, class: "fixed bottom-0 sm:bottom-5 primary-button w-full font-bold uppercase text-base") %>
  <% end %>
</div>
