<div class="">
  <div class="bg-midnight-green text-white flex md:items-center">
    <div class="flex flex-col md:flex-row md:flex-row-reverse items-center z-50 mx-auto py-4">
      <div class="">
        <div class="mt-6 px-4">
          <p class="text-6xl font-serif font-extrabold capitalize mb-12 text-center"><%= current_guest&.first_name %></p>

          <p class="font-sans mb-4">
            Estamos muy emocionados de que nos acompañes en este día tan especial para nosotros.
          </p>

          <p class="font-sans mb-4">
            Tu invitación tiene <b>3 boletos</b> incluyendote a ti y Juan
          </p>

          <p class="font-sans text-gray-400 tracking-wide">
            Aqui encontraras toda la información necesaria para que puedas disfrutar de nuestra boda.
          </p>
        </div>

        <div class="mt-6 px-4">
          <p class="text-3xl font-serif mb-2 font-extrabold">¿Cuándo?</p>
          <p class="font-sans">Sabado 27 de Julio 2024</p>
        </div>

        <div class="mt-6 px-4">
          <%= link_to calendar_path, class: "bg-white hover:bg-gray-200 text-midnight-green-500 hover:text-midnight-green-600 py-2 px-4 rounded-full flex items-center justify-center w-full mt-4 mb-8" do %>
            <i class="fas fa-calendar-alt mr-2"></i>
            Agrega el evento a tu calendario
          <% end %>
        </div>


        <div class="mt-6 px-4">
          <p class="text-3xl font-serif mb-2 font-extrabold">Venue</p>
          <p class="font-sans">Jardin Fuentes 22 Pedregal De Las Fuentes, Morelos, Mexico</p>
        </div>

        <div class="w-full md:basis-1/2 mt-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3775.023491874021!2d-99.1666649241962!3d18.886038982279942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce75c1118eea7d%3A0x48e0c6fa5b7cbc8!2sJard%C3%ADn%20Fuentes%2022!5e0!3m2!1sen!2smx!4v1707969671071!5m2!1sen!2smx" width="100%" height="450px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="mt-6 px-4">

          <p class="text-3xl font-serif mb-2 font-extrabold">Código de vestimenta</p>
          <p class="font-sans">Cocktail</p>
        </div>

        <div class="mt-6 px-4">
          <p class="text-3xl font-serif mb-2 font-extrabold">Regalos</p>
          <p class="font-sans">
            Tu presencia es nuestro mejor regalo ❤️  </p> Si lo deseas, puedes invitarnos un café en Italia. Puedes colocar tu donativo en los sobres que estarán disponibles el día del evento.
          </p>
        </div>

        <div class="mt-6 px-4 pt-10 pb-20">
          <p class="font-sans inline">¿Aún tienes dudas?</p>
          <%= link_to faq_path, target: "_blank", class: "text-midnight-green-500 hover:text-pink-500 pl-1 text-base text-white sm:max-w-prose inline underline" do %>
            Consulta la sección de preguntas frecuentes
          <% end %>
        </div>


        <div class="sm:flex sm:items-center sm:justify-center">
          <%= link_to "#", class: "fixed bottom-0 sm:bottom-5 bg-white shadow-cyan-500 text-midnight-green-600 w-full sm:w-4/6 sm:max-w-prose sm:rounded py-3 text-center font-bold tracking-wider uppercase text-base" do %>
            Confirmar asistencia
          <% end %>
        </div>

      </div>

    </div>
  </div>

  <div class="absolute bottom-0 left-0 z-0">
    <%= image_tag("leaves-01.svg", class: "h-56 md:h-96 hidden opacity-20 md:block") %>
  </div>

  <div class="absolute top-0 right-0 z-0">
    <%= image_tag("leaves-02.svg", class: "h-40 md:h-60 hidden opacity-20 md:block") %>
  </div>
</div>
