<div class="flex min-h-dvh justify-center items-center px-2 relative">
  <div class="block text-emerald-800 bg-orange-50 w-full max-w-screen-md py-3 box-shadow-ribbon z-10">
    <p class="text-4xl sm:text-5xl font-serif text-center mb-2">
      Aidé
      <span class="text-3xl sm:text-5xl mx-2">&</span>
      Luis
    </p>
  </div>
  <div class="absolute z-0 top-1/2 -translate-y-[60%]">
    <div class="relative scale-75 leaf-box-gradient">
      <%= image_tag("leaf-01.png") %>
    </div>
  </div>

  <div class="absolute bottom-4 left-0 z-0 flex justify-center w-full">
    <p class="text-xl font-sans font-thin italic tracking-wider	">27 ‧ JUL ‧ 2024</p>
  </div>
</div>

<div class="flex justify-center items-center mx-auto py-20 bg-emerald-800 px-4 mt-4">
  <div class="flex flex-col items-center justify-center w-full max-w-screen-sm bg -orange-50 rounded-tl-lg rounded-br-lg shadow-gray-100">
    <p class="font-serif text-3xl md:text-4xl font-semibold text-center py-10 text-orange-50 ">
      Todo comienza con un punto.
      <br/>
      - Wassily Kandinsky -
    </p>
  </div>
</div>

<div class="flex flex-col items-center justify-center">
  <div class="max-w-screen-sm px-4 ">

    <div class="flex flex-col items-center justify-center w-full px-4 sm:px-0 pt-8 sm:pt-0 mb-10">
      <p class="prose text-xl sm:text-2xl mb-4 sm:mb-0 text-center">
        ¿Listo para bailar bajo las estrellas <br/> y brindar por el amor?
      </p>
      <p class="font-thin sm:text-lg mt-6">Para ver los detalles del evento ingresa tu número telefónico</p>
      <%= form_with(url: guests_access_path, method: :post, scope: :guest, class: "w-full flex flex-col") do |form| %>
        <%= form.text_field :phone, placeholder: "(55)-55-55-5555", class: "mt-2 border-1 border-gray-300 rounded-lg py-2 px-5 w-full" %>
        <%= form.submit "Ver detalles", class: "primary-button font-bold rounded-tl-lg rounded-br-lg my-5" %>
      <% end %>
    </div>

    <div class="h-80 w-full md:h-[30rem] md:w-[30rem] mb-10 card-border">
      <%= image_tag("engagement-01.webp", height: "600px", class: "w-full h-full rounded-lg object-cover z-0", loading: :lazy) %>
    </div>
  </div>
</div>
