<!DOCTYPE html>
<html>
  <head>
    <title>Wedding Site · Aidé & Luis</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="<%= yield(:page_color) if content_for?(:page_color) %>">
    <%= render "navbar" if signed_in? %>
    <main class="mx-auto max-w-6xl">
      <%= render "flash" %>
      <%= yield %>
    </main>
  </body>
  <script defer src="https://kit.fontawesome.com/238d584d83.js" crossorigin="anonymous"></script>
</html>
