<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Aidé & Luis</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta property="og:site_name" content="Sitio de la boda de Aidé & Luis" />
    <meta property="og:title" content="Aidé & Luis" />
    <meta property="og:description" content="Confirma tu asistencia a la boda de Aidé & Luis" />
    <meta property="og:image" itemprop="image" content="<%= asset_url("thumbnail.jpeg") %>">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://aideyluis.com" />
    <meta property="og:locale" content="es_MX" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-orange-50 text-emerald-900 antialiased">
    <%= yield %>
    <%= turbo_frame_tag :remote_modal %>
  </body>
  <script defer src="https://kit.fontawesome.com/238d584d83.js" crossorigin="anonymous"></script>
</html>
