<!DOCTYPE html>
<html>
  <head>
    <title>Aidé & Luis</title>
    <meta name="description" content="Confirma tu asistencia a la boda de Aidé & Luis" />
    <meta property="og:title" content="Boda de Aidé & Luis" />
    <meta property="og:image" content="<%= asset_path_url("thumbnail.jpeg") %>" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-orange-50 text-emerald-900 antialiased">
    <%= yield %>
    <%= turbo_frame_tag :remote_modal %>
  </body>
  <script defer src="https://kit.fontawesome.com/238d584d83.js" crossorigin="anonymous"></script>
</html>
